.modal-overlay {
  background: fade-out(#354052, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
}

.react-modal-container {
  // Reset
  outline: none;
  > .close-btn:focus {
    outline: none;
  }

  position: absolute;
  top: 25%;
  z-index: 20;
}

.modal-container {
  $MARGIN_MODAL: 25px;
  $ICON_SIZE: 20px;
  $ICON_SIZE: 20px;
  $SM_PADDING: 20px;
  $COL_PADDING: 15px;
  $BORDER_RADIUS: 4px;

  > .close-btn {
    color: white;
    position: absolute;
    margin-right: 0;
    // Offset to center the button
    $OFFSET_CENTER: ($MARGIN_MODAL - $ICON_SIZE) / 2;
    top: $OFFSET_CENTER;
    right: $OFFSET_CENTER + $COL_PADDING;
    width: auto;

    > .slicon {
      font-size: $ICON_SIZE;
      font-weight: bold;
    }
  }

  > .close-btn:hover {
    color: darken(#f3f3f3, 5%);
  }

  > .our-modal-content {
    background: white;
    border-radius: $BORDER_RADIUS;
    color: black;
    font-weight: 500;
    margin: $MARGIN_MODAL;
    padding: $SM_PADDING;
  }
}

.our-modal-content {
  > .title {
    // Reset
    margin-top: 0;

    color: black;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}

.modal-overlay {
  opacity: 0.01;
  transition: 0.2s opacity;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Content {
  @include appear-initial;
}

.ReactModal__Content--after-open {
  @include appear-active;
}

.ReactModal__Content--before-close {
  @include appear-initial;
}
