
.gallery-main {
  max-width: 1100px;
  width: 90%;
  margin: 1em auto;
  background: #fff;
  border-radius: 20px;
  padding: 0.6em;
}

a {
  transition: all .3s ease-in-out;
}

.gallery {
  background: #ddd;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.thumb {
  margin: 5px;
  max-width: 95%;
  display: inline-block; /* for non-flex browsers */
}

.thumb a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
}
.thumb-first a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  //-webkit-filter: grayscale(0.7);
  //filter: grayscale(0.7);
}

.thumb a:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.thumb img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 200px;
  vertical-align: bottom;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
}
.thumb-first img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 200px;
  vertical-align: bottom;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
}

// THE FIRST THUMB
.thumb-first .img-first {
  border-radius: 10px;
  max-width: 100%;
  max-height: 300px;
  vertical-align: bottom;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.4);
}

// THUMB HOVER
.thumb a:hover img {
  transition: all .3s ease-in-out;
  box-shadow: 0 0 6px 4px rgba(100, 250, 0, 0.4);
  z-index: 20;
}
