.dropzone-container {
  border: 1px dashed $STEEL;
  border-radius: $STEEL;
  transition: border-color 0.3s;

  &.dropzone-active {
    border-color: $ACTIVE_GREEN;

    > .form-label {
      color: $ACTIVE_GREEN;
    }
  }

  &.dropzone-rejected {
    border-color: $ERROR_RED;

    > .form-label {
      color: $ERROR_RED;
    }
  }

  > .form-label {
    display: block;
    margin: 10% 0;
    transition: color 0.3s;
  }
}
